html,body{
    
    background-color: bisque;
}
* {
    box-sizing: border-box;
  }


.space{
    margin-right: 10px;
}

.check{
    margin-left: 20px;
}
form{
    border: 30px plum;

}